.Input{
    color: #adacb0;
    border: 0;
    border-bottom: 1px solid #adacb0;
    padding: 12px 15px;
    height: auto;
    background: transparent;
    width: auto;
    display:block;
    text-align: center;
}