* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151419;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
}

@media (max-width: 500px) {
  .outer-container {
    margin-top: 75px;
  }
}

.FirstPortfolio-container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 40px);
  justify-content: space-around;
  background-color: #151419;
}

.conteinerDataProyects {
  /* display: flex;
  align-items: center;
  width: 80%; */
  margin: 10px 0px 10px 0px;
  margin-left: 50px;
}

.classEmail {
  width: calc(80% - (20% * 0.2));
  overflow-wrap: break-word;
  text-decoration: none;
  color: white;
  margin-left: 50px;
}

.leftDiv {
  flex: 1;
  align-items: center;
  height: 100%;
  width: 20%;
  /* margin-left: 60px; */
  display: flex;
  justify-content: center;
}

.rightDiv {
  width: calc(80% - (20% * 0.2));
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  flex-grow: 2;
  margin-left: 40px;
}

.rightDiv>div {
  flex-grow: 2;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.button-wrapper .marquee {
  flex-grow: 1;
  /* width: 100%; */
  font-weight: 600;
  color: gray;
  margin: 10px 0px 10px 50px;
}

.button-wrapper button {
  flex-shrink: 0;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.bloque {
  color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.marquee {
  /* width: calc(100vw - 130px); */
  overflow: hidden;
  white-space: nowrap;
  text-align: end;
  /* Alinea el texto a la derecha */
}

.marquee span {
  display: inline-block;
  transform: translateX(100%);
}

.infiniteLoop {
  animation: marquee 10s linear infinite running;
}

.pausedLoop {
  animation: marquee 10s linear infinite paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100vw);
  }
}

.skillItem {
  background-color: #3787F8;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 6px;
  font-size: 14px;
}

@media (max-width: 600px) {

  .conteinerDataProyects {
    margin-left: 20px;
  }
}


@media (max-width: 768px) {
  .skillItem {
    font-size: 12px;
  }

  .left-align {
    /* margin-left: 10px; */
  }

  .leftDiv {
    flex: 1;
    align-items: center;
    height: 100%;
    width: 20%;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
  }

  .button-wrapper .marquee {
    margin: 10px 0px 10px 0px;
  }
}

@media (orientation: portrait) {

  /* vertical, retrato */
  body {
    background-color: #151419;
  }
}

@media (orientation: landscape) {

  /* horizontal (paisaje) */
  body {
    background-color: #151419;
  }
}