.containerDataInformation {
  display: flex;
  align-items: center;
  width: 80%; /* Cambiado a 100% */
  margin-left: 50px;
  margin-top: 20px; 
  }
  
  .leftInformation {
    flex-grow: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    width: 80%;
  }
  
  .espacioSuperior {
    /* margin-top: 35px; */
    max-height: 400px;
    overflow-y: auto;
  }
  
  .rightInformation {
    flex-shrink: 0;
    width: 20%;
    /* margin-left: 20px; */
  }
  
  .classOficio {
    color: gray;
  }

  .dataPersonSkills{
    color:darkgray;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    .containerDataInformation {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 0px;
      flex-direction: column-reverse;
    }
  
    .rightInformation {
      flex-shrink: 0;
      flex-grow: 1;
      width: auto;
    }
  
    .espacioSuperior {
      margin-top: 35px;
      max-height: 400px;
      overflow-y: auto;
      /* width: 182px; */
    }
  }
  