.containerDataInformation {
  display: flex;
  align-items: center;
  width: 100%; /* Cambiado a 100% */
  /* margin-left: 40px;*/
  margin-top: 20px; 
  }
  
  .leftInformation {
    flex-grow: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
  
  .espacioSuperior {
    /* margin-top: 35px; */
    max-height: 400px;
    overflow-y: auto;
  }
  
  .rightInformation {
    flex-shrink: 0;
    /* margin-left: 20px; */
  }
  
  .classOficio {
    color: gray;
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    .containerDataInformation {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
  
    .rightInformation {
      flex-shrink: 0;
      flex-grow: 1;
    }
  
    .espacioSuperior {
      margin-top: 35px;
      max-height: 400px;
      overflow-y: auto;
      /* width: 182px; */
    }
  }
  