.homeConteiner{
    padding: 0;
    margin: 0px 10px 10px 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorMessage{
    color: #d01c1cb8;
    font-weight: 600;
}