.card {
  width: calc(80% - (20% * 0.2));
  overflow-wrap: break-word;
  max-width: 70%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-content {
  padding: 20px;
  max-height: 200px;
  /* Establece una altura máxima para el contenedor de la descripción */
  overflow-y: auto;
  /* Agrega una barra de desplazamiento vertical si el contenido excede la altura máxima */
}

.card-text {
  max-width: 100%;
  white-space: normal;
  /* Permite que el texto se divida en múltiples líneas */
}

.card-link {
  width: calc(80% - (20% * 0.2));
  overflow-wrap: break-word;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {

  /* piso cards, lo pongo aca porque me pinta.*/
  .card {
    width: calc(80% - (20% * 0.2));
    overflow-wrap: break-word;
    margin-left: 0px;
    max-width: 70%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
}