.container { 
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: #282c34;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0%;
    list-style: none;
    height: 100px;
}

nav ul li a{
    text-decoration: none;
    color: white
}

.logo{
    width: 70px;
    /* margin-left: -25px; */
}

.aboutUs {
    background-color: #282c34;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  
  .aboutUs:hover {
    background-color: #c8e7ed82;
  }